
@{
    ViewBag.Title = "PurchaseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Purchase Report</h3>
<hr class="my-4" />
<div class="form-horizontal">
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Label("Purchase Code", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBox("PurchaseCode", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBox("PurchaseFromDate", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Label("Branch", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.DropDownList("BranchId", (SelectList)ViewBag.DropdownBranches, "Select Branch", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-7">
                        @Html.TextBox("PurchaseToDate", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" id="showPurchaseReport">Show</button>
    </div>
    <h4>Report</h4>
    <hr class="my-4" />
    <div class="row">
        <div class="col-md">
            <table class="table table-bordered table-responsive-md table-hover table-striped table-light css-serial" id="purchaseResultTable" style="border: none">
                <tr class="thead-dark">
                    <th>
                        SL
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                    @*<th>
            @Html.DisplayName("Code")
        </th>*@
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Branch")
                    </th>
                    <th>
                        @Html.DisplayName("Supplier")
                    </th>
                    <th>
                        @Html.DisplayName("Purchase Total")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
                <tbody id="purchaseResultTableBody"></tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success">Print</button>
        <button type="button" class="btn btn-danger" id="closePurchaseResult" data-dismiss="modal">Clear</button>
    </div>
</div>

