@using PointOfSaleMVC.Models
@model PointOfSaleMVC.Models.Item

@{
    ViewBag.Title = "Item Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Item Setup</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveItemForm", name = "saveItemForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.AllCategories, "Select Category",new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CostPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CostPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CostPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    @Html.LabelFor(model => model.ItemCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextBox("CategoryCode", null,new { @class = "form-control",style= "float:left;width:  51px;",@readonly= "readonly" })
                        @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control col-md-6", style = "float:left;margin-left: 5px;" } })
                        <br/>
                        <br/>
                        @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ItemDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <input type="button" id="itemSaveButton" value="Save" class="btn btn-success" />
                        <input type="button" id="itemCancelButton" value="Cancel" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br/>
<table class="table table-bordered table-hover table-responsive-md table-striped table-light css-serial">
    <tr class="thead-dark">
        <th>
            SL
        </th>
        <th>
            @Html.DisplayName("Category")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Code")
        </th>

        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Purchase Price")
        </th>
        <th>
            @Html.DisplayName("Sale Price")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    <tbody id="itemTableBody">
    @foreach (var item in (List<Item>)ViewBag.Items)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice) tk
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice) tk
            </td>
            <td>
                <button type="button" id="btnEdit" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" id="btnDelete"><i class="fa fa-remove"></i></button>
            </td>
        </tr>
    }
    </tbody>
</table>
