
@{
    ViewBag.Title = "SalesOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 style="text-align: center">Sales Operation</h5>
<hr class="my-4" />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveSalesForm", name = "saveSalesForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="margin-left: 0px;margin-right: 0px">
            <div class="col-md-8">
                <div class="row" style="border: 2px solid #18BC9C;border-radius:5px">
                    <table>
                        <tr>
                            <td>
                                <div class="form-group">
                                    @Html.Label("Item Name", new { @class = "control-label col-md-10" })
                                    <div class="col-md-10">
                                        @Html.TextBox("Name", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("Qty", htmlAttributes: new { @class = "control-label col-md-10" })
                                    <div class="col-md-10">
                                        @Html.TextBox("Quantity", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("Quantity", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("Price", htmlAttributes: new { @class = "control-label col-md-10" })
                                    <div class="col-md-10">
                                        @Html.TextBox("Price", null, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessage("Price", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("Stock Qty", htmlAttributes: new { @class = "control-label col-md-10" })
                                    <div class="col-md-10">
                                        @Html.TextBox("StockQuantity", null, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessage("StockQuantity", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="button" value="Add" id="addItemButton" name="addItemButton" class="btn btn-success" />
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div class="row">
                    <table class="table table-bordered table-hover table-striped table-light css-serial" id="salesTable" style="border: none">
                        <tr class="thead-dark">
                            <th>
                                SL
                            </th>
                            <th>
                                @Html.DisplayName("Item")
                            </th>
                            @*<th>
                                    @Html.DisplayName("Code")
                                </th>*@
                            <th>
                                @Html.DisplayName("Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Price")
                            </th>
                            <th>
                                @Html.DisplayName("Line Total")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>

                        <tbody id="salesTableBody"></tbody>
                        <tfoot>
                            <tr>
                                <td id="removeSerial" style="border: none"></td>
                                <td style="border: none"></td>
                                <td style="border: none"></td>
                                <td>Total</td>
                                <td id="total"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="border: 2px solid #18BC9C;border-radius:5px">
                    <div class="col-md">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.Label("Branch", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownList("BranchId", (SelectList)ViewBag.DropdownBranches, "Select Branch", new { @class = "form-control" })
                                    @Html.ValidationMessage("BranchId", "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.Label("Employee", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownList("EmployeeId", new SelectList(Enumerable.Empty<SelectListItem>(), "EmployeeId", "EmployeeName"), "Select Employee", new { @class = "form-control" })
                                    @Html.ValidationMessage("EmployeeId", "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.Label("Date", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-7">
                                    @Html.TextBox("SaleDate", null, new { @class = "form-control" })
                                    @Html.ValidationMessage("SaleDate", "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="border: 2px solid #18BC9C;border-radius:5px">
                    <div class="col-md">
                        <fieldset>
                            <legend>Customer</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("CoustomerName", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("CoustomerName", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.Label("Contact", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("CoustomerContact", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("CoustomerContact", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <div class="row" style="border: 2px solid #18BC9C;border-radius:5px">
                    <div class="col-md">
                        <fieldset>
                            <legend>Sales Summary</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.Label("Sub Total", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("SubTotal", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("SubTotal", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.Label("VAT", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("Vat", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("Vat", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        @Html.Label("Discount", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBox("Discount", null, new { @class = "form-control" })
                                        @Html.ValidationMessage("Discount", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover table-striped table-light">
                        <tr class="thead-dark">
                            <th>
                                Total
                            </th>
                            <th>
                                Amount Due
                            </th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>1000</td>
                                <td>500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <input type="button" value="Save" id="saveSaleButton" name="saveSaleButton" class="btn btn-success" style="margin-right: 3px" />
                    <input type="button" value="Cancel" id="cancelSaleButton" name="cancelSaleButton" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
}

@*<div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7"></div>
    </div>*@